---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    <div class="archive__item">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        {% endif %}
      </h2>
      
      {% include post-meta.html post=post %}
      
      {% if post.excerpt %}
        <div class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% include paginator.html %}